/* Text information*/
.mainTitle {
    font-family:'Libre Baskerville';
    font-size:3rem;
    color: #FFFFFF;
    display: block;
}

.mainSubTitle {
    font-family: 'Share Tech';
    font-size: 1.75rem;
    color: #FFFFFF;
    display: block;
}

.mainSubTitleLight {
    font-family: 'Share Tech';
    color: #1e344b;
}

.Headline {
    font-family: 'Libre Baskerville';
    font-size: 2rem;
    color: #1e344b;
    text-align: center;
}

.bodyTextLight{
  font-family: 'Share Tech';
  font-size: 1rem;
  color: #ffbd59;
}

.BodyText {
    font-family: 'Share Tech';
    font-size: 1rem;
    color: #1e344b;
    text-align: center;
}

.bodyTextWhite {
    font-family: 'Share Tech';
    font-size: 1rem;
    color: #FFFFFF;
}
/* Custom navbar colors*/
.navbar-custom {
    background-color:  #0F1822;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #ffbd59;
}


/* images */
.description-icons{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    height: 40%;
    padding-bottom: 10px;
    padding-top: 50px;
}
.bookcover_sm{
   width: 50px;
}

.bookcover_lg{
   width: 250px;
}
/* Body */

.ContainerCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.register-page{
  background-color:  #0F1822;
  width: 100%;
  height: 100%;
}

.div1 {
    /* background-image: linear-gradient(#1e344b, #0F1822); */
    background-color:  #0F1822;
    position: relative;
    width: 100%;
    height: 495px;
}

.accountDiv {
    /* background-image: linear-gradient(#1e344b, #0F1822); */
    background-color:  #ffffff;
    position: relative;
    padding-top: 100px;
    width: 100%;
    height: 540px;
}

.bookListDiv {
  background-color:  #ffffff;
  position: relative;
  padding-top:75px;
}

.challengeFormDiv {
  background-color:  #ffffff;
  position: relative;
  padding-top: 100px;
  padding-left: 20%;
  padding-right: 20%;
}

.challengeContainer {
    position: relative;
    padding-top: 75px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.divTownship {
    background-image: url(images/Town.png);
    position: relative;
    background-color: #0F1822;
    background-size: 180px;
    width: auto;
    height: 150px;
  }

  .divTownshipLight {
      background-image: url(images/Town.png);
      position: relative;
      background-color: #ffffff;
      background-size: 180px;
      width: auto;
      height: 150px;
    }

.div2 {
    background-color: #ffffff;
    position: relative;
    width: 100%;
    height: 200px;
}

.div3Break {
    content: "";
    height: 200px;
    background-color: #ffffff;
}

.divBookShelf {
    background-image: url(images/BookShelf.png);
    position: relative;
    background-size: 550px;
    width: auto;
    height: 100px;
}

.divBookShelfLight {
    background-image: url(images/BookShelfLight.png);
    position: relative;
    background-size: 550px;
    width: auto;
    height: 100px;
}

.Footer {
    height: 20px;
    background-color: #1a1a1a;
}
