/* Text information*/
.mainTitle {
    font-family:'Libre Baskerville';
    font-size:3rem;
    color: #FFFFFF;
    display: block;
}

.mainSubTitle {
    font-family: 'Share Tech';
    font-size: 1.5rem;
    color: #FFFFFF;
    display: block;
}

.Headline {
    font-family: 'Libre Baskerville';
    font-size: 2rem;
    color: #0F1822;
    text-align: center;
    padding: 0 50px 0 50px;

}

.BodyText {
    font-family: 'Share Tech';
    font-size: 1rem;
    color: #1e344b;
    padding: 0 50px 0 50px;
    text-align: center;
}


/* Custom navbar colors*/
.navbar-custom {
    background-color:  #1e344b;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
    color: #ffbd59;
}

/* Body */
body
{
    margin:0;
}

.column {
    width: 33.33%;
    display:table-column;
    text-align: center;
    vertical-align: middle;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.ContainerCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.div1 {
    background-image: linear-gradient(#1e344b, #0F1822);
    position: relative;
    width: 100%;
    height: 400px;
}

.divTownship {
    background-image: url(Images/masterBase/Town.png);
    width: 100%;
    height: 267px;
    border-bottom: .2rem solid #ffffff;
}

.div2 {
    background-color: #ffffff;
    position: relative;
    width: 100%;
    height: 200px;
}

.div3Break {
    content: "";
    height: 200px;
    background-color: #ffffff;
}

.divBookShelf {
    background-image: url(Images/masterBase/BookShelf.png);
    width: 100%;
    height: 168px;
    border-bottom: .2rem solid #1a1a1a;
}

.Footer {
    height: 20px;
    background-color: #1a1a1a;
}
